<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <modules runAllManagedModulesForAllRequests="true">
        <remove name="WebDAVModule" />
      </modules>
      <handlers>
        <remove name="WebDAV" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\HelpCenterJwt.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
      <security>
        <requestFiltering>
          <!--单位：字节。 -->
          <requestLimits maxAllowedContentLength="1073741824" />
          <!-- 1 GB -->
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <appSettings>
    <add key="MySQLConnectionString" value="server=127.0.0.1;database=helpcenter;uid=root;pwd=123456;charset='utf8';SslMode=None;Allow User Variables=True" />
  </appSettings>
</configuration>
<!--ProjectGuid: 50ec0b41-4e04-4ee4-b89b-4cd2902ad058-->